<font color=Green>
    
# **3.4 Indexaci√≥n y filtrado**

</font>

In [1]:
import numpy as np
import pandas as pd

In [ ]:
#crear tabla completamente definida
df = pd.DataFrame(
                  np.random.randint(low=0, high=10, size=(10, 2)),
                  index=['a','b','c','d','e','f','g','h','i','j'],
                  columns=["Cod_empleado","Calificacion"]
                 )
df

   Cod_empleado  Calificacion
a             0             1
b             9             4
c             4             2
d             1             7
e             2             4
f             3             9
g             4             3
h             2             5
i             2             7
j             6             9

In [3]:
df['Calificacion']

a    1
b    4
c    2
d    7
e    4
f    9
g    3
h    5
i    7
j    9
Name: Calificacion, dtype: int32

### <font color=#003d5c>_Seleccionar con `.loc`_ </font>

In [4]:
df.loc['a']

Cod_empleado    0
Calificacion    1
Name: a, dtype: int32

In [ ]:
df.loc['b':'f'] #seleccinar desde x hasta y

   Cod_empleado  Calificacion
b             9             4
c             4             2
d             1             7
e             2             4
f             3             9

In [ ]:

df.loc[df.index[3:7],'Cod_empleado'] #seleccionar fila desde x a y, en la columna x

d    1
e    2
f    3
g    4
Name: Cod_empleado, dtype: int32

### <font color=#003d5c>_Seleccionar con `.iloc`_ </font>

In [ ]:
df.iloc[0:3]#seleccionar filas de x a y

   Cod_empleado  Calificacion
a             5             4
b             8             6
c             0             7

In [ ]:
df.iloc[3:]#seleccionar filas desde x

   Cod_empleado  Calificacion
d             1             8
e             6             5
f             0             2
g             9             2
h             4             1
i             1             4
j             5             7