<font color=Green>
    
# **3.7 Manejo de datos ausentes**

</font>

### `pandas` toma a los valores `NaN` y `None` como valores ausentes. La función `pandas.isnull()` se puede usar para determinar si existen valores ausentes en los datos.

In [1]:
import numpy as np
import pandas as pd

In [8]:
#definimos tabla
df = pd.DataFrame({
    'VarA': ['aa', None, 'cc'],
    'VarB': [20, 30, None],
    'VarC': [1234, 3456, 6789]
    }, 
    index = ['Caso1','Caso2','Caso3']
)

df

       VarA  VarB  VarC
Caso1    aa  20.0  1234
Caso2  None  30.0  3456
Caso3    cc   NaN  6789

In [ ]:
pd.isnull(df) #comprobar cuales son nulos

        VarA   VarB   VarC
Caso1  False  False  False
Caso2   True  False  False
Caso3  False   True  False

### Debemos decidir si descartamos las filas que incluyen valores ausentes, esto lo conseguimos usando el método `.dropna()`:

In [ ]:
df.dropna(subset=["VarA",'VarB']) 
#dropea de la lista las filas que incluyen valores nulos

      VarA  VarB  VarC
Caso1   aa  20.0  1234

### Otra opción es sustituir los valores `NaN` con un valor determinado, para esto usamos el método `.fillna()` .

In [12]:
df.fillna("") #cambiar el valor null por "vacio"

      VarA  VarB  VarC
Caso1   aa  20.0  1234
Caso2       30.0  3456
Caso3   cc        6789

In [ ]:
df.fillna(df.mean()) #llenar los nulos con la media de los datos

C:\Users\alvar\AppData\Local\Temp\ipykernel_8700\634187881.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

       VarA  VarB  VarC
Caso1    aa  20.0  1234
Caso2  None  30.0  3456
Caso3    cc  25.0  6789

In [ ]:
df.fillna(25) llenar los nulos con "25"

      VarA  VarB  VarC
Caso1   aa  20.0  1234
Caso2   25  30.0  3456
Caso3   cc  25.0  6789